/* Styling the slider track */
#playBar .track {
     -fx-background-color: linear-gradient(to right, #0303f2 0%, #15ff00 0%);
     -fx-pref-height: 2;
}

/* Styling the slider thumb */
#playBar .thumb {
     -fx-background-color: #fe0000
}

